nav ul{
    display:flex;
    padding: 0 20%;
}

nav li{
    list-style: none;
  
    padding: 0px 10px;
    
}
nav li:hover{
    background-color: rgb(228, 225, 225);
}

nav li a{
    text-decoration: none;
    color:rgb(165, 162, 162);
    font-size: 15px

}
